#linestyle {
    color: rgb(51, 49, 44);
    background-color: rgb(59, 57, 51);
    margin-top: -8px;
    margin-left: -8px;
    width: 13000px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 0 15px black inset, 0 0 24px rgb(124, 124, 124);
    background-image: url(imgs/backgroundimage.png);
}

#titlestyle {
    color: rgb(255, 201, 53);
    margin-top: -125px;
    margin-left: 24px;
    font-size: 50px;
    font-family: BBH Bartle, sans-serif;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    animation-name: anim2;
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
}

#titlestyle2 {
    color: white;
    margin-top: -94px;
    margin-left: 398px;
    font-size: 50px;
    font-family: "BBH Bartle", sans-serif;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    animation-name: anim3;
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
}


#iconstyle {
    margin-top: 30px;
    margin-left: 0px;
    background-color: rgb(255, 201, 53);
    border-radius: 9px;
    box-shadow: 0 0 9px black inset, 0 0 9px black;
    animation-name: anim1;
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
}

@keyframes anim1 {
    0% {transform: rotate(0deg);background-color: rgb(255, 201, 53);}
    25% {transform: rotate(360deg);background-color: rgb(255, 201, 53);}
    50% {transform: rotate(30deg);background-color: white;}
    75% {transform: rotate(0deg);background-color: white;}
    100% {transform: rotate(360deg);background-color: rgb(255, 201, 53);}
}

@keyframes anim2 {
    0% {color: rgb(255, 201, 53);}
    25% {color: rgb(255, 201, 53);}
    50% {color: white;}
    75% {color: white;}
    100% {color: rgb(255, 201, 53);}
}

@keyframes anim3 {
    0% {color: white;}
    25% {color: white;}
    50% {color: rgb(255, 201, 53);}
    75% {color: rgb(255, 201, 53);}
    100% {color: white;}
}

#text1arriba {
    color: white;
    background-color: rgb(51, 49, 44);
    font-family: "BBH Bartle", sans-serif;
    font-size: 50px;
    text-align: center;
    box-shadow: 0 0 15px black inset;
    text-shadow: 0 0 10px black;
    -webkit-text-stroke: 2px rgb(51, 49, 44);
    background-image: url(imgs/backgroundimage2.png);
}

#dectextarriba1 {
    color: white;
    background-color: rgb(51, 49, 44);
    box-shadow: 0 0 10px black inset;
    text-align: center;
    margin-left: 590px;
    margin-top: -50px;
    width: 800px;
    font-family: "Indie Flower",sans-serif;
    font-size: 30px;
}

#RECETA1 {
    color: rgb(54, 54, 54);
    font-family: "Permanent Marker", sans-serif;
    font-size: 70px;
    width: 600px;
    text-align: center;
    margin-left: 100px;
}

#backgrounds {
    background-color: rgb(230, 215, 185);
    box-shadow: 8px 5px 20px gray;
    width: 800px;
    height: 800px;
    box-shadow: -4px -4px 40px rgb(95, 91, 82) inset;
    border-radius: 15px;
    border: 10px double rgb(51, 49, 44);
}

#minitext {
    font-family: "Margarine", sans-serif;
    font-size: 30px;
    color: rgb(58, 58, 58);
    text-shadow: 4px 4px 6px rgb(131, 122, 105);
}

#linestylereceta {
    color: rgb(54, 54, 54);
    width: 700px;
    margin-left: 40px;
    border: 3px solid rgb(167, 156, 136);
    border-radius: 50px;
}

#titlestylereceta {
    color: white;
    font-size: 30px;
    font-family: "BBH Bartle", sans-serif;
    margin-left: 40px;
    background-color: rgb(131, 122, 105);
    width: 680px;
    box-shadow: -4px -4px 9px rgb(51, 49, 44) inset;
}

#ContenidoFinal {
    background-color: #202429;
    width: auto;
    height: 500px;
    margin-top: 70px;
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
    background-image: linear-gradient(to bottom, #0a0b0c, #2f343b);
}

#LineStyle2 {
    border: white solid 1px;
    width: 340px;
    margin-left: 270px;
}

#Finaltext1 {
    color: white;
    font-size: 30px;
    font-family: "Asset", sans-serif;
    text-shadow: 8px 4px 0px rgb(46, 46, 46);
    margin-left: 270px;
    text-shadow: 0 0 15px gray;
}

#aire1 {
    width: 670px;
    height: 50px;
}

#SubTextFinal {
    color: white;
    margin-left: 270px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 600px;
    font-size: 20px;
}


#SubTextFinal2 {
    color:#515c68;
    margin-left: 270px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 600px;
    font-size: 20px;
}

#Finaltext2 {
    color: white;
    font-size: 30px;
    font-family: "Asset", sans-serif;
    text-shadow: 0 0 15px gray;
    margin-left: 1000px;
    margin-top: -245px;
}

#TextFinal2 {
    color: white;
    margin-left: 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 600px;
    font-size: 20px;
}

#TextFinal3 {
    color: white;
    margin-left: 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 800px;
    font-size: 20px;
}

#TextFinal4 {
    color: white;
    margin-left: 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 800px;
    font-size: 20px;
}

#TextFinal5 {
    color: white;
    margin-left: 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 800px;
    font-size: 20px;
}