#linestyle {
    color: rgb(51, 49, 44);
    background-color: rgb(59, 57, 51);
    margin-top: -8px;
    margin-left: -8px;
    width: 13000px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 0 15px black inset, 0 0 24px rgb(124, 124, 124);
    background-image: url(imgs/backgroundimage.png);
}

#titlestyle {
    color: rgb(255, 201, 53);
    margin-top: -125px;
    margin-left: 24px;
    font-size: 50px;
    font-family: BBH Bartle, sans-serif;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    animation-name: anim2;
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
}

@keyframes anim2 {
    0% {color: rgb(255, 201, 53);}
    25% {color: rgb(255, 201, 53);}
    50% {color: white;}
    75% {color: white;}
    100% {color: rgb(255, 201, 53);}
}

#titlestyle2 {
    color: white;
    margin-top: -94px;
    margin-left: 398px;
    font-size: 50px;
    font-family: "BBH Bartle", sans-serif;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    animation-name: anim3;
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
}

@keyframes anim3 {
    0% {color: white;}
    25% {color: white;}
    50% {color: rgb(255, 201, 53);}
    75% {color: rgb(255, 201, 53);}
    100% {color: white;}
}

#iconstyle {
    margin-top: 30px;
    margin-left: 0px;
    background-color: rgb(255, 201, 53);
    border-radius: 9px;
    box-shadow: 0 0 9px black inset, 0 0 9px black;
    animation-name: anim1;
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
}

@keyframes anim1 {
    0% {transform: rotate(0deg);background-color: rgb(255, 201, 53);}
    25% {transform: rotate(360deg);background-color: rgb(255, 201, 53);}
    50% {transform: rotate(30deg);background-color: white;}
    75% {transform: rotate(0deg);background-color: white;}
    100% {transform: rotate(360deg);background-color: rgb(255, 201, 53);}
}

#imglocal {
    width: 1090px;
    box-shadow: 4px 4px 20px black;
    margin-left: 395px;
    border-left: 5px solid rgb(51, 49, 44);
    border-right: 5px solid rgb(51, 49, 44); 
    border-bottom: 5px solid rgb(51, 49, 44); 
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

#buttonlink1 {
    background-color: #0d1117;
    color: white;
    margin-top: -80px;
    margin-left: 1400px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    width: 180px;
    box-shadow: 0 0 25px black;
    align-items: center;
    text-align: center;
}

#letterstylelink {
    color: white;
}

#buttonlink1:hover {
    color: white;
    text-shadow: 0 0 7px white;
    box-shadow: 0 0 25px white;
    transition: text-shadow 1s, box-shadow 0.5s, width 1s;
    align-items: center;
}


#boxbackround2 {
    background-color: rgb(145, 145, 145);
    color: rgb(145, 145, 145);
    width: 5906px;
    height: 225px;
    margin-left: -10px; 
    margin-top: -50px;
    z-index: -5;
    box-shadow: 0 0 20px rgb(161, 161, 161);
}

#CONTENIDO {
    background-color: rgb(235, 235, 235);
    width: 1090px;
    height: 810px;
    margin: 0 auto;
    vertical-align: baseline;
    box-shadow: 0 12px 15px rgb(192, 192, 192);
}

#aire2 {
    background-color: rgb(235, 235, 235);
    width: 1090px;
    height: 25px;
    margin: 0 auto;
}

#CAJA1 {
    margin-left: 50px;
    vertical-align: baseline;
}

#box1 {
    background-color: rgb(252, 165, 65);
    width: 290px;
    height: 150px;
    box-shadow: 0 0 20px rgb(138, 138, 138);
    border-top: 4px solid rgb(51, 49, 44);
    border-left: 4px solid rgb(51, 49, 44);
    border-right: 4px solid rgb(51, 49, 44);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#textbox1 {
    color:white;
    font-size: 34px;
    font-family: Rubik Scribble, sans-serif;
    text-shadow: 4px 4px 7px black;
    margin-top: 15px;
    vertical-align: baseline;
    -webkit-text-stroke: 2px white;
}

#imgbox1 {
    width: 120px;
    height: 110px;
    float: left;
    margin-top: 10px;
}

#subbox1 {
    color: gray;
    background-color: white;
    margin-top: -16px;
    width: 290px;
    height: 175px;
    border-left: 4px solid rgb(51, 49, 44);
    border-right: 4px solid rgb(51, 49, 44);
    border-bottom: 4px solid rgb(51, 49, 44);
    font-family: Indie Flower, sans-serif;
    -webkit-text-stroke: 1px gray;
}

#hoverbox1 {
    color: white;
    width: 123px;
    height: 28px;
    background-color: rgb(53, 24, 24);
    border-radius: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 25px;
    margin-top: -50px;
    margin-left: 25px;
    transition: 0.5s, tranform 1s, font-size 1s;
    display: block;
}

#hoverbox1:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 15px black;
    transform: scale(1.2);
    cursor: pointer;
    display: block;
}

#aire {
    background-color: white;
    color: rgb(235, 235, 235);
    width: 290px;
    height: 20px;
    border-left: 4px solid rgb(51, 49, 44);
    border-right: 4px solid rgb(51, 49, 44);   
}

#CAJA2 {
    margin-left: 400px;
    vertical-align: baseline;
}

#box2 {
    position: relative;
    top: 0;
    left: 0;
    background-color: rgb(252, 71, 65);
    width: 290px;
    height: 150px;
    box-shadow: 0 0 20px rgb(138, 138, 138);
    border-top: 4px solid rgb(51, 49, 44);
    border-left: 4px solid rgb(51, 49, 44);
    border-right: 4px solid rgb(51, 49, 44);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: -360px;
}

#CAJA3 {
    margin-left: 742px;
    vertical-align: baseline;
}

#box3 {
    background-color: rgb(18, 129, 206);
    width: 290px;
    height: 150px;
    box-shadow: 0 0 20px rgb(138, 138, 138);
    border-top: 4px solid rgb(51, 49, 44);
    border-left: 4px solid rgb(51, 49, 44);
    border-right: 4px solid rgb(51, 49, 44);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: -347px;
}

#CAJASDEINFORMACION {
    margin-left: 50px;
}

#cajaprincipal {
    background-color: white;
    width: 650px;
    height: 350px;
    box-shadow: 4px 4px 9px rgb(180, 180, 180);
    border: 4px solid rgb(51, 49, 44);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#aire3 {
    background-color: rgb(235, 235, 235);
    width: 1090px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
}

#buttontop1 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(231, 231, 231);
    width: 172px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    box-shadow: 2px 0 9px rgb(121, 121, 121);
    transition: 0.2s;
    border-top-left-radius: 12px;
}

#buttontop1:hover {
    background-color: white;
    color: rgb(94, 94, 94);
    font-size: 30px;
}

#buttontop2 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(196, 196, 196);
    width: 172px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    margin-top: -75px;
    margin-left: 170px;
    box-shadow: 2px 0 9px rgb(121, 121, 121);
    transition: 0.2s;
}

#buttontop2:hover {
    background-color: white;
    color: rgb(94, 94, 94);
    font-size: 30px;
}

#buttontop3 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(196, 196, 196);
    width: 172px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    margin-top: -75px;
    margin-left: 340px;
    box-shadow: 2px 0 9px rgb(121, 121, 121);
    transition: 0.2s;
}

#buttontop3:hover {
    background-color: white;
    color: rgb(94, 94, 94);
    font-size: 30px;
}

#text1 {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    margin-left: 25px;
}

#text2 {
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: -10px;
    margin-left: 40px;
}

#detalles {
    background-color: rgb(224, 224, 224);
    width: 10px;
    height: 90px;
    margin-top: -85px;
    margin-left: 22px;
}

#detallestop {
    background-color: white;
    width: 650px;
    height: 20px;
    margin-top: -26px;
}

#textoCATEGORIAS {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-left: 700px;
    margin-top: -360px;
}

#lista {
    margin-left: 700px;
    list-style-type: disc;
    font-size: 21px;
    color: rgb(122, 122, 122);
    font-family: Indie Flower, sans-serif;
}

#linelista {
    margin-right: 50px;
}

#imgsicon {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 9px gray;
}

#CONTENIDOdeABAJO {
    background-color: rgb(124, 124, 124);
    width: 11890px;
    height: 200px;
    margin-left: -411px;
    margin-top: 90px;
    box-shadow: 0 0 30px black inset;
}

#Visitstyle {
    color: rgb(177, 177, 177);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 370px;
    margin-top: -80px;
}

#linkstyle {
    color: rgb(177, 177, 177);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 370px;
}

#imgbottom {
    width: 61px;
    height: 90px;
    margin-left: 280px;
    margin-top: 45px;
}

#Visitstyle2 {
    color: rgb(177, 177, 177);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 870px;
    margin-top: -160px;
}

#linkstyle2 {
    color: rgb(177, 177, 177);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 870px;
    transition: 0.25s;
}

#linkstyle2:hover {
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 870px;
}

#imgbottom2 {
    width: 90px;
    height: 90px;
    margin-left: 780px;
    margin-top: -495px;
}

#Visitstyle3 {
    color: rgb(87, 255, 129);
    font-family: Rubik Scribble, sans-serif;
    margin-left: 1470px;
    margin-top: -110px;
}

#imgbottom3 {
    width: 150px;
    height: 150px;
    margin-left: 1310px;
    margin-top: -95px;
}

#Visitstyle4 {
    color: rgb(87, 255, 129);
    font-family:  Rubik Scribble, sans-serif;
    font-size: 20px;
    margin-left: 1470px;
    margin-top: -20px;
}

#ContenidoFinal {
    background-color: #202429;
    width: 1904px;
    height: 500px;
    margin-top: 70px;
    margin-bottom: -8px;
    margin-left: -407px;
    margin-right: -8px;
    background-image: linear-gradient(to bottom, #0a0b0c, #2f343b);
}

#Finaltext1 {
    color: white;
    font-size: 30px;
    font-family: "Asset", sans-serif;
    text-shadow: 8px 4px 0px rgb(46, 46, 46);
    margin-left: 270px;
    text-shadow: 0 0 15px gray;
}

#aire1 {
    width: 670px;
    height: 50px;
}

#SubTextFinal {
    color: white;
    margin-left: 270px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 600px;
    font-size: 20px;
}

#SubTextFinal2 {
    color:#515c68;
    margin-left: 270px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 600px;
    font-size: 20px;
}

#LineStyle2 {
    border: white solid 1px;
    width: 340px;
    margin-left: 270px;
}

#Finaltext2 {
    color: white;
    font-size: 30px;
    font-family: "Asset", sans-serif;
    text-shadow: 0 0 15px gray;
    margin-left: 1000px;
    margin-top: -245px;
}

#TextFinal2 {
    color: white;
    margin-left: 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 600px;
    font-size: 20px;
}

#TextFinal3 {
    color: white;
    margin-left: 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 800px;
    font-size: 20px;
}

#TextFinal4 {
    color: white;
    margin-left: 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 800px;
    font-size: 20px;
}

#TextFinal5 {
    color: white;
    margin-left: 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 800px;
    font-size: 20px;
}